.modal-overloay{
    position: fixed;
    top:0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.75);
    height: 100vh;
    width:100vw;
    z-index: 50;
}
.alert-box{
    position: absolute;
    width:50vw;
    height:30vh;
    z-index: 100;
    left: 30vh;
    top: 30vh;
    background-color: white;
    box-shadow: 0 2px 8px rgba($color: #000000, $alpha: 0.6);
}

